################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/repo_test/FileContentIndex/0c20ceb6-6540-4117-a9ee-749b6c321cae.vsidx
/.vs/repo_test/FileContentIndex/12e32294-e427-41f6-8329-11bc59bfe8b3.vsidx
/.vs/repo_test/FileContentIndex/69651569-005e-40d6-b27a-3b4f7b2ab39c.vsidx
/.vs/repo_test/FileContentIndex/8b4e8037-1cae-4212-b172-758e1044fbc6.vsidx
/.vs/repo_test/FileContentIndex/931081f5-0175-4bf1-b081-433fbd81d469.vsidx
/.vs/repo_test/FileContentIndex/d52d0ea8-89fe-4ce5-b5f1-c4fa2b6b4f86.vsidx
/.vs/repo_test/FileContentIndex/78c60baa-df3f-4e23-a268-1e5ff82bf22a.vsidx
/.vs/repo_test/FileContentIndex/fa967a63-f05f-46c7-93af-8bd7a1e7dbba.vsidx
/.vs/repo_test/FileContentIndex/c46c70c9-2031-4f67-bf45-16d8561a4470.vsidx
